
/*set font-family and center content below navbar*/
body{
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/*top div position*/
#top-div {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: -25px;
}

/*colors and fonts*/

#nav-header,
.glyphicon-menu-hamburger {
  color: #FFFFFF;
}

#title {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#navbar {
  background-color: #03A9F4;
}

#top-div {
  background-color: #B3E5FC;
}

.btn {
  background-color: #FCE4EC;
}

input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
