
.margin-bottom-0 {
  margin-bottom: 0;
}

.padding-top-20 {
  padding-top: 20px;
}

/*navbar style*/
.nav-text-color {
  color: #607D8B;
  font-weight: 400;
  font-size: 2em;
}

.sign-out{
  background-color: #607D8B;
  color: #FFFFFF;
}

/*set font-family and center content below navbar*/
body{
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #212121;
}

/*delete drop down*/
.delete-dropdown {
  background-color: #FF4081;
}
.dropdown-menu>li>a {
  color: #607D8B;
}

/*kitchen inventory style*/
.kitchen-inventory-background {
  background-color: #B2DFDB;
  padding-bottom: 100%;
}

/*accent-kitchen for buttons*/
.ak {
  background-color: #607D8B;
  color: #FFFFFF;
}

/*packaging inventory style*/
.packaging-inventory-background {
  background-color: #D7CCC8;
  padding-bottom: 100%;
}

/*accent-packaging*/
.ap {
  background-color: #607D8B;
  color: #FFFFFF;
}

/*reorder list style*/
.reorder-list-background {
  background-color: #F8BBD0;
  padding-bottom: 100%;
}

/*accent-reorder*/
.ar {
  background-color: #607D8B;
  color: #FFFFFF;
}
/*login style*/
.login-background {
  background-color: #B3E5FC;
  padding-bottom: 100%;
}

/*accent-login*/
.al {
  background-color: #607D8B;
  color: #FFFFFF;
}

.secondary-text-login {
  color: #727272;
}

/*register style*/
.register-background {
  background-color: #DCEDC8;
  padding-bottom: 100%;
}

/*accent-register*/
.areg {
  background-color: #607D8B;
  color: #FFFFFF;
}

.secondary-text-register {
  color: #727272;
}

/*cookingforecast style*/
.cooking-background {
  background-color: #B2EBF2;
}

.panel-heading{
  background-color: #0097A7 !important;
  color: #FFFFFF !important;
}

.panel-body{
  background-color: #00BCD4;
}

.input-group-addon{
  background-color: #607D8B;
  color: #FFFFFF;
}

tr:nth-child(2n) {
  background-color: #00BCD4;
}

.odd-td {
  background-color: #B2EBF2;
}

/*accent-cooking*/
.cooking-accent {
  background-color: #607D8B;
  color: #FFFFFF;
}

.secondary-text-cooking {
  color: #727272;
}

.candy-score-board{
  border: solid 1px #B6B6B6;
}

.badge{
  background-color: #607D8B;
  color: #FFFFFF;
}
