
/*set font-family and center content below navbar*/
body{
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/*kitchen inventory style*/
.light-teal-background {
  background-color: #B2DFDB;
}
