<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h2>{{title}}</h2>
    </div><!-- col-md-4 -->
  </div><!-- row -->

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Toffee</h3>
        </div>
        <div class="panel-body">
          <h3>{{number}} lbs</h3>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <td>Sugar {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Butter {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Almonds {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
        </table>
      </div><!-- panel panel-default -->
    </div><!-- col-md-4 -->

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Caramel</h3>
        </div>
        <div class="panel-body">
          <h3>{{number}} lbs</h3>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <td>Sugar {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Syrup {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Swt Cnd Milk {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Butter {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Cream {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Milk {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
        </table>
      </div><!-- panel panel-default -->
    </div><!-- col-md-4 -->

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Pralines</h3>
        </div>
        <div class="panel-body">
          <h3>{{number}} lbs</h3>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <td>Sugar {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Brown Sugar {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Swt Cnd Milk {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Dark Syrup {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Butter {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Pecans {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
        </table>
      </div><!-- panel panel-default -->
    </div><!-- col-md-4 -->

  </div><!-- row -->

  <div class="row">

    <div class="col-md-2">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Monday</div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Caramel</h3>
          <h4>Sea Salt</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
          <h4>Bourdon</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- panel panel-default -->
    </div><!-- col-md-2 -->

    <div class="col-md-2">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Tuesday</div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Caramel</h3>
          <h4>Sea Salt</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
          <h4>Bourdon</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- panel panel-default -->
    </div><!-- col-md-2 -->

    <div class="col-md-2">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Wednesday</div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Caramel</h3>
          <h4>Sea Salt</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
          <h4>Bourdon</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- panel panel-default -->
    </div><!-- col-md-2 -->

    <div class="col-md-2">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Thursday</div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Caramel</h3>
          <h4>Sea Salt</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
          <h4>Bourdon</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- panel panel-default -->
    </div><!-- col-md-2 -->

    <div class="col-md-2">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Friday</div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Caramel</h3>
          <h4>Sea Salt</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
          <h4>Bourdon</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- panel panel-default -->
    </div><!-- col-md-2 -->

    <div class="col-md-2">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Sat./Sun.</div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Caramel</h3>
          <h4>Sea Salt</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
          <h4>Bourdon</h4>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="caramel" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="toffee" placeholder="{{number}}">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div>
      </div><!-- panel panel-default -->
    </div><!-- col-md-2 -->

  </div><!-- row -->

</div><!-- container-fluid -->
