<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h2>{{title}}</h2>
    </div><!-- col-md-4 -->
  </div><!-- row -->

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Toffee</h3>
        </div>
        <div class="panel-body">
          <h3>{{cookingforecast.toffeeTotalMonday+cookingforecast.toffeeTotalTuesday+cookingforecast.toffeeTotalWednesday+cookingforecast.toffeeTotalThursday+cookingforecast.toffeeTotalFriday+cookingforecast.toffeeTotalSatSun}} lbs</h3>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <td>Sugar {{ (cookingforecast.toffeeTotalMonday+cookingforecast.toffeeTotalTuesday+cookingforecast.toffeeTotalWednesday+cookingforecast.toffeeTotalThursday+cookingforecast.toffeeTotalFriday+cookingforecast.toffeeTotalSatSun) * (0.44) }} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Butter {{ (cookingforecast.toffeeTotalMonday+cookingforecast.toffeeTotalTuesday+cookingforecast.toffeeTotalWednesday+cookingforecast.toffeeTotalThursday+cookingforecast.toffeeTotalFriday+cookingforecast.toffeeTotalSatSun) * (0.44) }} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Almonds {{ (cookingforecast.toffeeTotalMonday+cookingforecast.toffeeTotalTuesday+cookingforecast.toffeeTotalWednesday+cookingforecast.toffeeTotalThursday+cookingforecast.toffeeTotalFriday+cookingforecast.toffeeTotalSatSun) * (0.22) }} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
        </table>
      </div><!-- panel panel-default -->
    </div><!-- col-md-4 -->

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Caramel</h3>
        </div>
        <div class="panel-body">
          <h3>{{cookingforecast.caramelTotalMonday+cookingforecast.caramelTotalTuesday+cookingforecast.caramelTotalWednesday+cookingforecast.caramelTotalThursday+cookingforecast.caramelTotalFriday+cookingforecast.caramelTotalSatSun}} lbs</h3>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <td>Sugar {{ (cookingforecast.caramelTotalMonday+cookingforecast.caramelTotalTuesday+cookingforecast.caramelTotalWednesday+cookingforecast.caramelTotalThursday+cookingforecast.caramelTotalFriday+cookingforecast.caramelTotalSatSun) * (0.34)}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Syrup {{ (cookingforecast.caramelTotalMonday+cookingforecast.caramelTotalTuesday+cookingforecast.caramelTotalWednesday+cookingforecast.caramelTotalThursday+cookingforecast.caramelTotalFriday+cookingforecast.caramelTotalSatSun) * (0.25)}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Swt Cnd Milk {{ (cookingforecast.caramelTotalMonday+cookingforecast.caramelTotalTuesday+cookingforecast.caramelTotalWednesday+cookingforecast.caramelTotalThursday+cookingforecast.caramelTotalFriday+cookingforecast.caramelTotalSatSun) * (0.16)}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Butter {{ (cookingforecast.caramelTotalMonday+cookingforecast.caramelTotalTuesday+cookingforecast.caramelTotalWednesday+cookingforecast.caramelTotalThursday+cookingforecast.caramelTotalFriday+cookingforecast.caramelTotalSatSun) * (0.08)}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Cream {{ (cookingforecast.caramelTotalMonday+cookingforecast.caramelTotalTuesday+cookingforecast.caramelTotalWednesday+cookingforecast.caramelTotalThursday+cookingforecast.caramelTotalFriday+cookingforecast.caramelTotalSatSun) * (0.08)}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Milk {{ (cookingforecast.caramelTotalMonday+cookingforecast.caramelTotalTuesday+cookingforecast.caramelTotalWednesday+cookingforecast.caramelTotalThursday+cookingforecast.caramelTotalFriday+cookingforecast.caramelTotalSatSun) * (0.09)}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
        </table>
      </div><!-- panel panel-default -->
    </div><!-- col-md-4 -->

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Pralines</h3>
        </div>
        <div class="panel-body">
          <h3>{{cookingforecast.pralinesTotalMonday+cookingforecast.pralinesTotalTuesday+cookingforecast.pralinesTotalWednesday+cookingforecast.pralinesTotalThursday+cookingforecast.pralinesTotalFriday+cookingforecast.pralinesTotalSatSun}} lbs</h3>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <td>Sugar {{ (cookingforecast.pralinesTotalMonday+cookingforecast.pralinesTotalTuesday+cookingforecast.pralinesTotalWednesday+cookingforecast.pralinesTotalThursday+cookingforecast.pralinesTotalFriday+cookingforecast.pralinesTotalSatSun) * (0.22) }} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Brown Sugar {{ (cookingforecast.pralinesTotalMonday+cookingforecast.pralinesTotalTuesday+cookingforecast.pralinesTotalWednesday+cookingforecast.pralinesTotalThursday+cookingforecast.pralinesTotalFriday+cookingforecast.pralinesTotalSatSun) * (0.22) }} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Swt Cnd Milk {{ (cookingforecast.pralinesTotalMonday+cookingforecast.pralinesTotalTuesday+cookingforecast.pralinesTotalWednesday+cookingforecast.pralinesTotalThursday+cookingforecast.pralinesTotalFriday+cookingforecast.pralinesTotalSatSun) * (0.29) }} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Butter {{ (cookingforecast.pralinesTotalMonday+cookingforecast.pralinesTotalTuesday+cookingforecast.pralinesTotalWednesday+cookingforecast.pralinesTotalThursday+cookingforecast.pralinesTotalFriday+cookingforecast.pralinesTotalSatSun) * (0.02) }} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Pecans {{ (cookingforecast.pralinesTotalMonday+cookingforecast.pralinesTotalTuesday+cookingforecast.pralinesTotalWednesday+cookingforecast.pralinesTotalThursday+cookingforecast.pralinesTotalFriday+cookingforecast.pralinesTotalSatSun) * (0.25) }} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
        </table>
      </div><!-- panel panel-default -->
    </div><!-- col-md-4 -->

  </div><!-- row -->

  <div class="row">

    <div class="col-md-2">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Monday</h4></div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="toffeeTotalMonday" ng-model="cookingforecast.toffeeTotalMonday" ng-change="cookingforecast.$save(toffeeTotalMonday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body toffee -->

        <div class="panel-body">
          <h3>Caramel</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="caramelTotalMonday" ng-model="cookingforecast.caramelTotalMonday" ng-change="cookingforecast.$save(caramelTotalMonday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body caramel -->

        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="pralines">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="pralinesTotalMonday" ng-model="cookingforecast.pralinesTotalMonday" ng-change="cookingforecast.$save(pralinesTotalMonday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body pralines -->

      </div><!-- panel panel-default -->

    </div><!-- col-md-2 -->

    <div class="col-md-2">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Tuesday</h4></div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="toffeeTotalTuesday" ng-model="cookingforecast.toffeeTotalTuesday" ng-change="cookingforecast.$save(toffeeTotalTuesday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body toffee -->

        <div class="panel-body">
          <h3>Caramel</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="caramelTotalTuesday" ng-model="cookingforecast.caramelTotalTuesday" ng-change="cookingforecast.$save(caramelTotalTuesday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body caramel -->

        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="pralines">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="pralinesTotalTuesday" ng-model="cookingforecast.pralinesTotalTuesday" ng-change="cookingforecast.$save(pralinesTotalTuesday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body pralines -->

      </div><!-- panel panel-default -->

    </div><!-- col-md-2 -->

    <div class="col-md-2">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Wednesday</h4></div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="toffeeTotalWednesday" ng-model="cookingforecast.toffeeTotalWednesday" ng-change="cookingforecast.$save(toffeeTotalWednesday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body toffee -->

        <div class="panel-body">
          <h3>Caramel</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="caramelTotalWednesday" ng-model="cookingforecast.caramelTotalWednesday" ng-change="cookingforecast.$save(caramelTotalWednesday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body caramel -->

        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="pralines">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="pralinesTotalWednesday" ng-model="cookingforecast.pralinesTotalWednesday" ng-change="cookingforecast.$save(pralinesTotalWednesday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body pralines -->

      </div><!-- panel panel-default -->

    </div><!-- col-md-2 -->

    <div class="col-md-2">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Thursday</h4></div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="toffeeTotalThursday" ng-model="cookingforecast.toffeeTotalThursday" ng-change="cookingforecast.$save(toffeeTotalThursday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body toffee -->

        <div class="panel-body">
          <h3>Caramel</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="caramelTotalThursday" ng-model="cookingforecast.caramelTotalThursday" ng-change="cookingforecast.$save(caramelTotalThursday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body caramel -->

        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="pralines">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="pralinesTotalThursday" ng-model="cookingforecast.pralinesTotalThursday" ng-change="cookingforecast.$save(pralinesTotalThursday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body pralines -->

      </div><!-- panel panel-default -->

    </div><!-- col-md-2 -->

    <div class="col-md-2">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Friday</h4></div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="toffeeTotalFriday" ng-model="cookingforecast.toffeeTotalFriday" ng-change="cookingforecast.$save(toffeeTotalFriday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body toffee -->

        <div class="panel-body">
          <h3>Caramel</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="caramelTotalFriday" ng-model="cookingforecast.caramelTotalFriday" ng-change="cookingforecast.$save(caramelTotalFriday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body caramel -->

        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="pralines">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="pralinesTotalFriday" ng-model="cookingforecast.pralinesTotalFriday" ng-change="cookingforecast.$save(pralinesTotalFriday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body pralines -->

      </div><!-- panel panel-default -->

    </div><!-- col-md-2 -->

    <div class="col-md-2">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Sat/Sun</h4></div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="toffeeTotalSatSun" ng-model="cookingforecast.toffeeTotalSatSun" ng-change="cookingforecast.$save(toffeeTotalSatSun)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body toffee -->

        <div class="panel-body">
          <h3>Caramel</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="caramelTotalSatSun" ng-model="cookingforecast.caramelTotalSatSun" ng-change="cookingforecast.$save(caramelTotalSatSun)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body caramel -->

        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="pralines">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="pralinesTotalSatSun" ng-model="cookingforecast.pralinesTotalSatSun" ng-change="cookingforecast.$save(pralinesTotalSatSun)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body pralines -->

      </div><!-- panel panel-default -->

    </div><!-- col-md-2 -->

  </div><!-- row -->

</div><!-- container-fluid -->
