<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h2>{{title}}</h2>
    </div><!-- col-md-4 -->
  </div><!-- row -->

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Toffee</h3>
        </div>
        <div class="panel-body">
          <h3>{{number}} lbs</h3>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <td>Sugar {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Butter {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Almonds {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
        </table>
      </div><!-- panel panel-default -->
    </div><!-- col-md-4 -->

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Caramel</h3>
        </div>
        <div class="panel-body">
          <h3>{{number}} lbs</h3>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <td>Sugar {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Syrup {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Swt Cnd Milk {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Butter {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Cream {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Milk {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
        </table>
      </div><!-- panel panel-default -->
    </div><!-- col-md-4 -->

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Pralines</h3>
        </div>
        <div class="panel-body">
          <h3>{{number}} lbs</h3>
        </div>
        <!-- Table -->
        <table class="table table-striped">
          <tr>
            <td>Sugar {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Brown Sugar {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Swt Cnd Milk {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Dark Syrup {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Butter {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
          <tr>
            <td>Pecans {{number}} lbs</td>
            <td>in stock {{number}} lbs</td>
          </tr>
        </table>
      </div><!-- panel panel-default -->
    </div><!-- col-md-4 -->

  </div><!-- row -->

  <div class="row">

    <div class="col-md-2">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Monday</h4></div>
        <div class="panel-body">
          <h3>Toffee</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="toffee">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="toffeeTotalMonday" ng-model="cookingforecast.toffeeTotalMonday" ng-change="cookingforecast.$save(toffeeTotalMonday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body toffee -->

        <div class="panel-body">
          <h3>Caramel</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="caramel">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="caramelTotalMonday" ng-model="cookingforecast.caramelTotalMonday" ng-change="cookingforecast.$save(caramelTotalMonday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body caramel -->

        <div class="panel-body">
          <h3>Pralines</h3>
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="pralines">Amount (in pounds)</label>
              <div class="input-group">
                <input type="number" class="form-control" id="pralinesTotalMonday" ng-model="cookingforecast.pralinesTotalMonday" ng-change="cookingforecast.$save(pralinesTotalMonday)" min="0">
                <div class="input-group-addon">lbs</div>
              </div>
            </div>
          </form>
        </div><!-- panel-body pralines -->

      </div><!-- panel panel-default -->

    </div><!-- col-md-2 -->

  </div><!-- row -->

</div><!-- container-fluid -->
