<div class="container" ng-controller="KitchenInventoryCtrl">
   <div class="row">
    <div class="col-lg-12">
      <h3>{{title}}</h3>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
      <h4>amount</h4>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-7">
      <h4>item</h4>
    </div>
  </div>

    <li ng-repeat="item in kitchenInventory">
      <div class="row">

        <!-- edit amount -->
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" aria-hidden="true">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </span>
            <input type="number" class="form-control" ng-model="item.amount" ng-change="kitchenInventory.$save(item.amount)">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" aria-hidden="true">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /col-lg-2 col-md-2 col-sm-3 col-xs-5 -->

        <!-- edit item -->
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-7">
          <div class="input-group">
            <input type="text" class="form-control "ng-model="item.item" ng-change="kitchenInventory.$save(item.item)" />
            <div class="input-group-btn">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                  <a href="#/kitchen_inventory" ng-click="kitchenInventory.$remove(item)">Delete Item</a>
                </li>
              </ul>
            </div>
          </div><!-- /input-group -->
        </div><!-- col-lg-5 col-md-5 col-sm-5 col-xs-5 -->
      </div><!-- /row -->
    </li>
  </ul>



  <!-- push a new item onto the Kitchen Inventory -->
  <form ng-submit="addItem()">
    <input ng-model="newKitchenInventoryItem" />
    <button type="submit">Add Item</button>
  </form>
</div>
