<div class="container-fluid" id="container-div" ng-controller="KitchenInventoryCtrl">
  <div>
   <div class="row" id="top-div">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="query">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" id="title">
        <h2>{{title}}</h2>
      </div>
    </div><!-- end of row -->

    <br>

    <!-- push a new item onto the Kitchen Inventory -->
    <form class="form-inline" id="add-item-form" ng-submit="addItem()">
      <div class="form-group">
        <label class="sr-only" for="newKitchenInventoryItem">Item</label>
        <input type="text" class="form-control" id="newKitchenInventoryItem" placeholder="Enter Item" ng-model="newKitchenInventoryItem">
      </div>
      <div class="form-group">
        <label class="sr-only" for="itemAmount">Amount</label>
        <input type="number" class="form-control" id="itemAmount" placeholder="Item Amount" ng-model="newKitchenInventoryItemAmount">
      </div>
      <div class="form-group">
        <label class="sr-only" for="itemReorderPoint">Reorder Point</label>
        <input type="number" class="form-control" id="itemReorderPoint" placeholder="Re-order point" ng-model="newKitchenInventoryItemReorderPoint">
      </div>
      <button type="submit" class="btn btn-default">Add Item</button>
    </form>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-5">
      <h4>amount</h4>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-7">
      <h4 class="">item</h4>
    </div>
  </div>

  <ul class="list-unstyled">
    <li ng-repeat="item in kitchenInventory | filter:{$: 'kitchen'} | filter:query">
      <div class="row">

        <!-- edit amount -->
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-5">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" aria-hidden="true" ng-click="plusOne(item)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </span>
            <input type="number" class="form-control" id="itemAmount" ng-model="item.amount" ng-change="kitchenInventory.$save(item)">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" aria-hidden="true"ng-click="minusOne(item)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /col-lg-2 col-md-2 col-sm-3 col-xs-5 -->

        <!-- edit item -->
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-7">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="item.item" ng-change="kitchenInventory.$save(item)" />
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                  <a href="#/kitchen_inventory" ng-click="kitchenInventory.$remove(item)">Delete Item</a>
                </li>
              </ul>
            </div>
          </div><!-- /input-group -->
        </div><!-- col-lg-5 col-md-5 col-sm-5 col-xs-5 -->

      </div><!-- /row -->
      <br>
    </li>
  </ul>
</div>
